<!-- Notification Banner -->
<div class="banner">
  <div class="banner-container">
    <div class="banner-left">
        <div class="contact-item">
          <img src="assets/email.svg" alt="Email Icon" width="20" height="20">
          <a href="mailto:hellooo@envica.biz">hellooo@envica.biz</a>
        </div>
        <div class="contact-item">
          <img src="assets/phone.svg" alt="Phone Icon" width="20" height="20">
          <a href="tel:+2349157777555">+234 915 7777 555</a>
        </div>
    </div>

    <div class="banner-right">
      <a href="https://www.instagram.com/envica.ltd" target="_blank" aria-label="instagram"><img src="assets/insta.svg" alt="instagram link" width="20" height="20"></a>
      <a href="https://web.facebook.com/people/ENVICA/61574116547594/?mibextid=LQQJ4d" target="_blank" aria-label="Facebook"><img src="assets/facebook.svg" alt="facebook link" width="20" height="20"></a>
      <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn"><img src="assets/linkedin.svg" alt="linkedin link" width="20" height="20"></a>
    </div>
  </div>
</div>

<header class="header">
    <div class="nav-container">
      <a href="index.html" class="logo">
        <img src="assets/envica-logo.svg" alt="Envica Logo" width="180">
      </a>

      <nav class="navbar">
        <button class="mobile-menu-toggle" aria-label="Menu" aria-expanded="false">☰</button>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">About</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="solutions.html">Solutions</a></li>
          <li><a href="communities.html">Communities</a></li>
        </ul>
      </nav>

      <a href="contact.html" class="cta-button-nav">Get Started</a>
    </div>
</header>